.top{
    width: 20vw;
}

#logo {
    max-width: 20vw;
    border-radius: 100px;
}

.listlink a{    
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important;
}

.maxw960 {
    max-width: 960px;
}

@media screen and (min-width: 768px) {
    #logo {
        max-width: 10vw;
    }

}