div.mylist {
    font-size: 18px;
}

img.top {
    width: 240px;
    height: 160px;
}

div.myform {
    font-size: 18px;
    border: 1px solid;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

input.myform{
    margin: 100px;
}

div.mytable {

}
